<div class="container">
  <div class="row">
   <a ng-href="#/ask" style="border-radius: 0px;" class="btn btn-primary btn-lg btn-block">Ask Question</a>
 </div>
 <div class="row">
   <a ng-href="#/answer" style="border-radius: 0px;" class="btn btn-primary btn-lg btn-block">Answer Question</a>
 </div>
 <div class="row">
   <a ng-href="#/askhist" style="border-radius: 0px;" class="btn btn-primary btn-lg btn-block">My Questions</a>
 </div>
 <div class="row">
 <a ng-href="#/answerhist" style="border-radius: 0px;" class="btn btn-primary btn-lg btn-block">My Answers</a>
 </div>
</div>