<% include header.html %>
<div class="container">
	<div class="jumbotron container" style="display: table; vertical-align: middle; width: 100%; max-width: 750px">
		<!-- GET  Question-->
        	<h1>Sample Question</h1>

	</div>
	<div id="choices" class="jumbotron container" style="display: table; vertical-align: middle; width: 100%; max-width: 750px">

   		<div class="row" style="display: table-cell; vertical-align: middle; text-align: center;">		
			<form style="text-align:center;">
				<div class="col-md-4" style="padding-bottom: 20px">
					<a ng-href="#/answer" class="btn btn-primary btn-lg btn-block btn-danger">NO</a>
				</div>
				<div class="col-md-4" style="padding-bottom: 20px">
					<a ng-href="#/answer" class="btn btn-primary btn-lg btn-block btn-warning">SKIP</a>
				</div>
				<div class="col-md-4" style="padding-bottom: 20px">
					<a ng-href="#/answer" class="btn btn-primary btn-lg btn-block btn-success">YES</a>
				</div>
			</form>
		</div>
	</div>
	<div id="progressBar" class="jumbotron container" style="display: table; margin-bottom: 0px; vertical-align: middle; width: 100%; max-width: 750px">
		<div class="progress">
            <div class="progress-bar progress-bar-danger" style="width: 0%">
                <span class="sr-only"># of Nos</span>
            </div>
    		<div class="progress-bar progress-bar-success" style="width: 100%">
                <span class="sr-only"># of Yeses</span>
            </div>
        </div>
	</div>
</div>
<% include footer.html %>
