<% include header.html %>
<div class="jumbotron container" style="display: table; vertical-align: middle; height: 70%; width: 100%; max-width: 750px">
    <div class="row" style="display: table-cell; vertical-align: middle; text-align: center;">
	<h1 style="text-align:center; font-size: 3.0em;">Ask a Question</h1>
	<br>
	<form>	
		<textarea type="text" style="resize: vertical; width:75%; margin:10px;" placeholder="Your Question..."></textarea>
		<input style="border-radius: 6px; width:65%;  margin:auto;" class="btn btn-primary btn-lg btn-block" type="submit" value="Ask"/>
	</form>
    </div>
</div>
<% include footer.html %>