<% include header.html %>
<div class="container">
<div class="jumbotron">
	<!-- GET  Question-->
	<h1>Sample Question</h1>
</div>
<div class="row">
		<p>Solution</p>
</div>
</div>


<script>
      $(document).ready(function(){
      	console.log("SAFE");
      	var username =  window.localStorage.username;
      	$.post("/api/pastquestions",{username:username}, function(data){
          if(data) {
            question_text = data.question.question;
            q_id = data.question.q_id;
            num_no = data.question.no;
            num_yes = data.question.yes;
          } else {
            question_text = "No more questions to answer... :("
            num_no = 1;
            num_yes = 1;
          }
      		

      		document.getElementById("no-bar").style.width= String(100 * num_no/(num_yes + num_no)) + "%";
      		document.getElementById("yes-bar").style.width= String(100 * num_yes/(num_yes + num_no)) + "%";
      		$("h1").text(question_text);
        });
      	$("#no").click(function(){
      		$.post("/api/updatequestion", {username:username, questionId: q_id, answer: "no"}, function(data) {

      		});
      	});
      	$("#skip").click(function(){
			window.location="/answer";      	
      	});
      	$("#yes").click(function(){
      		$.post("/api/updatequestion", {username:username, questionId: q_id, answer: "yes"}, function(data) {
      		});
      	});
      });
</script>
<% include footer.html %>