<% include header.html %>
<div class="container">
<div class="jumbotron">
	<!-- GET  Question-->
	<h1>Sample Question</h1>
</div>
<div class="row">
		<p>Solution</p>
</div>
</div>


<script>
      $(document).ready(function(){
      	console.log("SAFE");
      	var username =  window.localStorage.username;
      	$.post("/api/pastquestions",{username:username}, function(data){
          if(data.message && data.message.length > 0) {
          	var question_text;
          	for (var i = 0 ; i < data.message.length; i++) {
          		question_text = data.message.question;
          	}
          } else {
            question_text = "No questions posted... :("
          }
        });
      	$("#no").click(function(){
      		$.post("/api/updatequestion", {username:username, questionId: q_id, answer: "no"}, function(data) {

      		});
      	});
      	$("#skip").click(function(){
			window.location="/answer";      	
      	});
      	$("#yes").click(function(){
      		$.post("/api/updatequestion", {username:username, questionId: q_id, answer: "yes"}, function(data) {
      		});
      	});
      });
</script>
<% include footer.html %>