<% include header.html %>
<div class="content">
    <div class="jumbotron container" style="display: table; vertical-align: middle; height: 70%; width: 100%; max-width: 750px">
        <div class="row" style="display: table-cell; vertical-align: middle; text-align: center;">
            <div >
                <label for="username">User Name </label>
            </div>
            <div>
                <input type="text" style="width:100%" name="username" id="username" />
            </div>
            <br>
            <div>
                <label for="password">Password</label>
            </div>

            <div>
                <input type="password" style="width:100%" name="password" id="password" />
            </div>
            <br><br>
            <div>
                <input type="button" class="btn btn btn-primary btn-lg btn-block" style="width:65%;  margin:auto;" id="submit" value="Login"></input>
            </div>
            <br>
            <div>
                <button ng-click="cancel()" class="btn btn-primary btn-lg btn-block" style="width:65%;  margin:auto;">Sign Up</button>
            </div>
        </div>
    </div>
</div>
<script>
      $(document).ready(function(){
        var user, pass;
        $("#submit").click(function(){
          user=$("#username").val();
          pass=$("#password").val();
          alert(user + " " + pass);
          $.post("api/login",{username: user, password: pass}, function(data){
            if(data.message != "No Login Data")
              {
                alert("login success");
              }
          });
        });
      });
</script>
<% include footer.html %>
