<% include header.html %>
<div class="jumbotron container" style="display: table; vertical-align: middle; height: 70%; width: 100%; max-width: 750px">
    <br>
	<div class="row" style="display: table-cell; vertical-align: middle; text-align: center;">
    	<div>
    	    <a href="/ask" style="border-radius: 6px; width:65%;  margin:auto;" class="btn btn-primary btn-lg btn-block">Ask Question</a>
    	</div>
    	<br>
    	<div>
    		<a href="/answer" style="border-radius: 6px; width:65%;  margin:auto;" class="btn btn-primary btn-lg btn-block">Answer Question</a>
    	</div>
    	<br>
    	<div>
    		<a href="/askhist" style="border-radius: 6px; width:65%;  margin:auto;" class="btn btn-primary btn-lg btn-block">My Questions</a>
    	</div>
    	<div>
    	<br>
    		<a href="/answerhist" style="border-radius: 6px; width:65%;  margin:auto;" class="btn btn-primary btn-lg btn-block">My Answers</a>
    	</div>
	</div>
</div>
<% include footer.html %>