<% include header.html %>
<div class="content">
    <div class="jumbotron container" style="display: table; vertical-align: middle; height: 70%; width: 100%; max-width: 750px">
        <div class="row" style="display: table-cell; vertical-align: middle; text-align: center;">
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1">Username</span>
                <input type="text" style="width:100%" name="username" id="username" class="form-control" placeholder="userId" aria-describedby="sizing-addon1">
            </div>
            <br>
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1">Password</span>
                <input type="password" style="width:100%" name="password" id="password" class="form-control" placeholder="123FakePassword" aria-describedby="sizing-addon1">
            </div>
            <br>
            <div class="input-group input-group-lg">
                <input type="text" style="width:100%" name="email" id="email" class="form-control" placeholder="example@example.com" aria-describedby="sizing-addon1">
                <span class="input-group-addon" id="sizing-addon1">@example.com</span>
            </div>
            <br>
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1">Age</span>
                <input type="text" style="width:100%" name="age" id="age" class="form-control" placeholder="10" aria-describedby="sizing-addon1">
            </div>
            <br>
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1">Gender</span>
                <input type="text" style="width:100%" name="gender" id="gender" class="form-control" placeholder="M/F" aria-describedby="sizing-addon1">
            </div>
            
            <br><br>
            <div>
                <input type="button" class="btn btn btn-primary btn-lg btn-block" style="width:65%;  margin:auto;" id="submit" value="Submit"></input>
            </div>
        </div>
    </div>
</div>
<script>
      $(document).ready(function(){
        var user, pass, email, age, gender;
        $("#submit").click(function(){
          user=$("#username").val();
          pass=$("#password").val();
          email=$("#email").val();
          age=$("#age").val();
          gender=$("#gender").val();
          alert(user + " " + pass);
          $.post("api/signup",{username: user, password: pass, email: email, age: age, gender: gender}, function(data){
            if(data.message != "Could not create account." && data.message != "Account already exists")
              {
                //alert("login success");
                window.location.replace("/");
              }
          });
        });
      });
</script>
<% include footer.html %>
